body{
    background: url(../imgs/capa.png),
                url(../imgs/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);

    background-attachment: fixed;
}

nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    padding: 15px 0;
  

}

.navbar-nav .nav-link{
color: red;
}